@import '../scss/layouts/settings';
@import '../scss/layouts/navbar';
@import '../scss/layouts/cover';
@import '../scss/layouts/coverside';
@import '../scss/layouts/firstpage';
@import '../scss/layouts/secondpage';
@import '../scss/layouts/thirdpage';
@import '../scss/layouts/forthpage';
@import '../scss/layouts/fifthpage';

  


  //FADE OUT ANIM
  .fadeOut {
    animation: fadeOutAnimation 1s ease;
  }
  
  @keyframes fadeOutAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  } 
  //FADE IN ANIM
  .fadeIn {
    animation: fadeInAnimation 1s ease;
  }
  
  @keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } 
  
  
  
  
  
  
  